:root {
    --primary: #043d3d;
    --secondary: #5ff094;
    --tertiary: #1E201E;
    --background: #121212; /* buat background */
    --input-bg: #2b2b2b; /* buat warna background si field */
    --input-border: #5ff094; /* buat garis tepi field */
    --button-bg: #043d3d; /* buat tombol submit */
    --button-text: #ffffff;
    --hover-bg: #036b6b;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--background);
    color: var(--secondary);
}

h1 {
    text-align: center;
    color: var(--secondary);
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 20px;
}

.form-control {
    background-color: var(--primary);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
  
form ul {
    list-style: none;
}
  
form li {
    margin-bottom: 15px;
    text-align: left;
}
  
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--secondary);
}
  
input {
    width: 100%;
    padding: 10px;
    background: var(--input-bg);
    border: 1px solid var(--input-border);
    border-radius: 5px;
    color: var(--secondary);
}
  
input:focus {
    outline: none;
    border-color: var(--secondary);
    box-shadow: 0 0 8px var(--secondary);
}
  
button {
    padding: 10px 20px;
    background-color: var(--button-bg);
    border: none;
    border-radius: 5px;
    color: var(--button-text);
    cursor: pointer;
    transition: background-color 0.3s;
}
  
  button:hover {
    background-color: var(--hover-bg);
  }
  
  